p { margin-bottom: 5px; margin-top: 4px; }
.abcfalFldCntr, .abcfalFldCntrF { margin-top: 15px; position: relative; }
.abcfalFldCntrF { float: left; }
.abcfalML10 { margin-left: 10px; }
.abcfalFldLbl { padding-bottom: 4px; }
.abcfalFldHlp, .abcfalFldHlpUnder { font-size: 11px; }
.abcfalFldHlp { margin-left: 5px; }
.abcfalFldHlpUnder { display: block; margin-top: 1px; }
.abcfalFldHlpUnder p { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; }
.abcfalHDivider, .abcfalHDivider2, .abcfalHDivider4  { width: 99%; border-top-style: solid; border-top-width: 1px; border-top-color: #999999; line-height: 1px; margin-top: 15px; }
.abcfalHDivider2 { border-top-width: 2px; }
.abcfalHDivider4 { border-top-width: 4px; }

.abcfalMboxHlp, .abcfalMboxHlp12, .abcfalMboxHlpB, .abcfalMboxHlpB12, .abcfalMboxHlpMT, .abcfalMboxHlpMT12, .abcfalMboxHlpMTB, .abcfalMboxHlpMTB12{ font-family: Verdana,Arial,Helvetica,sans-serif; color: #006633; }
.abcfalMboxHlp, .abcfalMboxHlpB, .abcfalMboxHlpMT, .abcfalMboxHlpMTB { font-size: 11px; }
.abcfalMboxHlp12, .abcfalMboxHlpB12, .abcfalMboxHlpMT12, .abcfalMboxHlpMTB12 { font-size: 12px; }
.abcfalMboxHlpB, .abcfalMboxHlpB12, .abcfalMboxHlpMTB, .abcfalMboxHlpMTB12 { font-weight: 700; }
.abcfalMboxHlpMT, .abcfalMboxHlpMT12, .abcfalMboxHlpMTB, .abcfalMboxHlpMTB12 { margin-top: 10px; }
.abcfalMboxHlp p, .abcfalMboxHlpB p, .abcfalMboxHlpB12 p, .abcfalMboxHlpMT p { margin-top: 0px; margin-bottom: 0px; padding-top: 0px; }

.abcfalFloatsCntr { position: relative; margin-top: 10px; }
.abcfalFntW { float: left; width: 90px; }
.abcfalFntF, .abcfalFntS, .abcfalFntSh, .abcfalFntClr, .abcfalFntCI { float: left; margin-left: 8px; }
.abcfalFntS { width: 90px; }
.abcfalFntF { width: 240px; }
.abcfalFntSh { width: 75px; }
.abcfalFntClr { width: 65px; }
.abcfalFntCI { width: 110px; }
.abcfalClr { clear: both; font-size: 1px; margin: 0; padding: 0; border: 0; height: 0; }
.abcfalClrL { clear: both; font-size: 1px; margin: 0; padding: 0; border: 0; height: 0; }
.compat-attachment-fields .label { white-space: nowrap; }
.compat-attachment-fieldsX .field { width: 90%; }
/*---------------------------------------------*/
.abcfalInputB { font-weight: 700; }
.abcfalFldCntr input[readonly] { background: #FFFF99; border: 1px solid #666666; color: #000000; padding-top: 5px; padding-bottom: 5px; }
.ggclDocs { font-weight: 700; font-size: 16px; margin-top: 30px; color: #333333; }
.ggclDocs p { padding-top: 10px; font-weight: 200; font-size: 14px; }
.ggclDocs a:link, .ggclDocs a:visited { text-decoration: none; color: #333333; }
.ggclDocs a:hover { text-decoration: underline; color: #191980; }



